extends layout

block content
    script(src='/js/checkPlayerData.js' defer)
    script.
        let subject = !{JSON.stringify(subjectPlayer)};
        let dataPlayer;
        let infosPlayerData;
        let region = !{JSON.stringify(regionPlayer)};
        let isPregame = false;
        let pregameInfosPlayer = null;
        let pregameAgentInfos = null;

        async function updateSubjectPlayer() {
            try {
                const resultSubject = await fetch('/getSubjectPlayer');
                const newSubject = await resultSubject.json();
                subject = newSubject.subjectPlayer
            } catch (error) {
                console.error(error);
            }
        }

        async function getDataPreGame() {
            const resultData = await fetch('/pregame');
            const preGameData = await resultData.json();
            if (preGameData.infosData != null) {
                isPregame = true;
                console.log("pregame launch");
                for (let p of preGameData.infosData.AllyTeam.Players) {
                    if (p.Subject == subject.subjectPlayer) {
                        pregameInfosPlayer = p;
                        if(p.CharacterID != "") {
                            await getInfoAgent(p.CharacterID)
                        }
                        break;
                    }
                }
            } else {
                console.log("pregame not launch");
                isPregame = false;
                pregameInfosPlayer = null;
                pregameAgentInfos = null;
            }
        }

        async function getInfoAgent(agentId) {
            let infosAgent = await fetch(`https://valorant-api.com/v1/agents/${agentId}`)
            let resultAgent = await infosAgent.json()

            pregameAgentInfos = resultAgent.data;
        }

        setInterval(updateSubjectPlayer, 10000)

        async function updateDisplay() {
            await getDataPreGame();
            try {
                let resultDataPlayer = await searchPlayerbySubject(subject.subjectPlayer || subject, region)
                dataPlayer = resultDataPlayer.data

                let nametagPlayer = dataPlayer.name + "#" + dataPlayer.tag

                let resultInfosPlayer = await infosPlayer(nametagPlayer)
                infosPlayerData = resultInfosPlayer.data

                // Update Display

                let last_season = dataPlayer.by_season[Object.keys(dataPlayer.by_season)[Object.keys(dataPlayer.by_season).length - 1]]

                if(dataPlayer.current_data.elo != null) {
                    document.querySelector('.overlay-background').style.backgroundImage = `url(${infosPlayerData.card.wide})`
                    document.querySelector('.rank-user').src = dataPlayer.current_data.images.small
                    document.querySelector('.rank-user').alt = dataPlayer.current_data.currenttierpatched
                    document.querySelector('.rank-name span').textContent = dataPlayer.current_data.currenttierpatched
                    document.querySelector('.stats p:nth-of-type(1)').textContent = `${infosPlayerData.account_level} Lvl`
                    document.querySelector('.stats p:nth-of-type(2)').textContent = `${dataPlayer.current_data.elo} Elo`
                    document.querySelector('.stats p:nth-of-type(3)').textContent = `${last_season.wins} Wins`
                } else {
                    document.querySelector('.overlay-background').style.backgroundImage = ``
                    document.querySelector('.rank-user').src = "https://media.valorant-api.com/competitivetiers/03621f52-342b-cf4e-4f86-9350a49c6d04/0/smallicon.png"
                    document.querySelector('.rank-user').alt = "UNRANKED"
                    document.querySelector('.rank-name span').textContent = "UNRANKED"
                    document.querySelector('.stats p:nth-of-type(1)').textContent = `${infosPlayerData.account_level} Lvl`
                    document.querySelector('.stats p:nth-of-type(2)').textContent = `N/A Elo`
                    document.querySelector('.stats p:nth-of-type(3)').textContent = `N/A Wins`
                }

                if(isPregame) {
                    document.querySelector('.pregame_select').classList.add("slide-pregame-out")
                    document.querySelector('.pregame_select').classList.remove("slide-pregame-in")
                    if(pregameAgentInfos) {
                        document.querySelector('.agent-img').src = pregameAgentInfos.displayIcon;
                        document.querySelector('.agent-name').innerText = pregameAgentInfos.displayName
                        document.querySelector('.agent-img').style.backgroundColor = "#" + `${pregameAgentInfos.backgroundGradientColors[0]}`
                    }
                } else {
                    document.querySelector('.pregame_select').classList.add("slide-pregame-in")
                    document.querySelector('.pregame_select').classList.remove("slide-pregame-out")
                    document.querySelector('.agent-img').src = "https://i.ibb.co/qgYnXpq/Empty.png";
                    document.querySelector('.agent-name').innerText = "Loading..."
                }
            } catch (error) {
                console.error(error)
            }
        }

        getDataPreGame();
        updateDisplay();
        setInterval(function() {
            updateDisplay();
        }, 10000)
        setInterval(function() {
            getDataPreGame()
        }, 5000);



    div(id="overlay" class="global-overlay slide-out")
        div(class="overlay-background")
        div(class="overlay")
            div(class="head-overlay")
                div(class="left-overlay")
                    img(class="rank-user")
                div(class="right-overlay")
                    div(class="rank-name")
                        span
                    hr
                    div(class="stats")
                        p
                        p
                        p
    div(class="pregame_select slide-pregame-out")
        div(class="pregame")
            div(class="top-title")
                p Select Agent
            div(class="top-pregame")
                img(class="agent-img" src="https://i.ibb.co/qgYnXpq/Empty.png")
                p(class="agent-name") Loading...
